<ion-header>
  <ion-toolbar>
    <ion-title>Nuevos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-content>
    <ion-list>
      <ion-item routerLink="/new">Nuevos</ion-item>
      <ion-item routerLink="/random">Random</ion-item>
      <ion-item routerLink="/category">Categorías</ion-item>
      <ion-item>Favoritos</ion-item>
    </ion-list>
    <div id="version">
      <span>Versión 0.2</span>
    </div>
  </ion-content>
</ion-menu>

<ion-content>
</ion-content>
