ion-content {
    --background: url('/assets/bk/bk1.jpg') 0 /auto 100% no-repeat;
  }

.data-view {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
}